<form method="POST" action="/register">
  <div>
    <label for="firstName">First name</label>
    <input type="text" name="firstName" placeholder="First name" id="firstName" required minlength="2">
  </div>
  <div>
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" placeholder="Last name" id="lastName" required minlength="2">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Password confirmation</label>
    <input type="password" name="passwordConfirmation" placeholder="Password confirmation" id="passwordConfirmation" required>
  </div>

  <button class="btn btn-primary">Register</button>
</form>
