<h1>London Attractions</h1>

<ul class="row">
  <% attractions.forEach((attraction) => { %>
    <li class="">
    <img src="<%= attraction.image %>">
      <a href="/attractions/<%= attraction.id %>"><h4><%= attraction.placeName %></h4></a>
    </li>
  <% }); %>
</ul>
