<h1>London Attractions</h1>

<ul class="row">

  <% attractions.forEach((attraction) => { %>
    <div class="card col-3" style="width: 20rem; margin: 5px;">
      <img class="card-img-top" src="<%= attraction.image %>" alt="Card image cap">
      <div class="card-body">
        <a href="/attractions/<%= attraction.id %>"><h5 class="card-title"><%= attraction.placeName %></h5>
      </div>
    </div>
  <% }); %>
</ul>
