<h1>London Attractions</h1>

<div class="row">
  <% attractions.forEach((attraction) => { %>
    <div class="card col-3">
      <a href="/attractions/<%= attraction.id %>"><img class="card-img-top" src="<%= attraction.image %>" alt="Card image cap"></a>
      <div class="card-body">
        <a href="/attractions/<%= attraction.id %>"><h5 class="card-title card-place-name"><%= attraction.placeName %></h5></a>
      </div>
    </div>
  <% }); %>
</div>
