<h1 class="center-header">Add an attraction</h1>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <form method="POST" action="/attractions" class="add-attraction">
        <div class="form-group">
          <label for="autocomplete">Attraction</label>
          <input id="autocomplete" type="text" class="form-control" placeholder="Attraction">
        </div>
        <div class="form-group d-none">
          <label for="placeName">Place name</label>
          <input class="form-control"type="text" name="placeName" placeholder="Place name" id="placeName" required>
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input class="form-control" type="text" name="website" placeholder="Website" id="website" required>
        </div>
        <div class="form-group">
          <label for="image">Image url</label>
          <input class="form-control" type="text" name="image" placeholder="Image url" id="image" required>
        </div>
        <div class="form-group">
          <label for="description">Short description</label>
          <input class="form-control" type="text" name="description" placeholder="Short description" id="description" required>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category">
            <option>Art</option>
            <option>Architecture</option>
            <option>Entertainment</option>
            <option>History</option>
            <option>Nature</option>
            <option>Museum</option>
            <option>Shopping</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group d-none">
          <label for="rating">Rating</label>
          <input class="form-control" type="number" step="0.1" name="rating" placeholder="Rating" id="rating">
        </div>
        <div class="form-group d-none">
          <label for="address">Address</label>
          <input class="form-control" type="text" name="address" placeholder="Address" id="address" required>
        </div>
        <div class="form-group d-none">
          <label for="lat">Lat</label>
          <input class="form-control" type="text" name="lat" placeholder="Lat" id="lat" required>
        </div>
        <div class="form-group d-none">
          <label for="lng">Lng</label>
          <input class="form-control" type="text" name="lng" placeholder="Lng" id="lng" required>
        </div>

        <button class="btn btn-primary" id="createButton">Submit</button>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
