<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attractions</title>
    <% include ./partials/_stylesheets.ejs %>
  </head>
  <body>
  <% include ./partials/_navbar %>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <%- body %>
    <% include ./partials/_scripts.ejs %>
  </body>
  </html>
