.comment-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 20px;
}

.comment-row {
  margin-top: 20px;
}

.comment-text {
  margin-bottom: 20px;
}

.comment-area {
  margin-top: 30px;
}
