@import "variables";

body {
  background-color: #F1F1F1;
  color: #5F5F5F;
  font-family: 'Helvetica', sans-serif;
  nav {
    &.layout-nav {
      background-color: $primary-color;
    }
  }
  a {
    h5 {
      color: #5F5F5F;
    }
  }
}

ul {
  list-style-type: none;
}

a {
  &.website-link {
    font-size: 16px;
  }
}

.btn {
  background-color: $primary-color;
  border-color: $primary-color;
}

.show-image {
  padding-left: 33px;
}

.map {
  margin-top: 20px;
  width: 80%;
  height: 35vh;
  background-color: grey;
 }

.index-map {
  width: 100%;
  height: 100vh;
  background-color: grey;
 }

.center-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.show-page-buttons {
  margin: 10px 5px;
}

.place-name {
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.index-image {
  width: 100%;
  margin: 0 auto;
}

.index-row {
  width: 95%;
  margin: 0 auto;
}

.show-row {
  margin-bottom: 20px;
  margin-top: 30px;
}

.show-info-row {
  margin-bottom: -20px;
  margin-top: -10px;
}

.comment-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 20px;
}

.comment-row {
  margin-top: 20px;
}

.comment-text {
  margin-bottom: 20px;
}

.comment-area {
  margin-top: 30px;
}


@media screen and (max-width: 400px) {
  .center-header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .place-name {
    font-size: 15px;
  }
  .map {
    height: 10vh;
  }
}
