// import scss partials here
body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style-type: none;
}

.box {
  border: solid 0px red;
}

.map {
   width: 80%;
   height: 30vh;
   background-color: grey;
 }

.edit-header, .login-header, .register-header, .add-header, .show-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.edit-delete-buttons {
  margin: 10px 5px;
}

.card-place-name {
  text-align: center;
}
