@import "variables";
@import "mediaquery";
@import "comment";
@import "maps";

body {
  background-color: #F1F1F1;
  color: #5F5F5F;
  font-family: 'Helvetica', sans-serif;
  nav {
    &.layout-nav {
      background-color: $primary-color;
    }
  }
  a {
    h5 {
      color: #5F5F5F;
    }
  }
}

ul {
  list-style-type: none;
}

a {
  &.website-link {
    font-size: 16px;
  }
}

.btn {
  background-color: $primary-color;
  border-color: $primary-color;
}

.show-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.index-image {
  width: 100%;
  margin: 0 auto;
}

.image-container {
  display: flex;
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-container-show {
  display: flex;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.center-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.show-page-buttons {
  margin: 10px 5px;
}

.place-name {
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.index-row {
  width: 95%;
  margin: 0 auto;
}

.show-row {
  margin-bottom: 20px;
  margin-top: 30px;
}

.show-info-row {
  margin-bottom: -20px;
  margin-top: -10px;
}
